In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from csv import writer

In [7]:

base_url = 'https://passioneongles.fr/collections/nouveautes'
url_seperator = '?page='
page_num = '1'

In [8]:
with open('articles.csv', 'w', newline='', encoding='utf8') as f:
    thewriter = writer(f)
    header = ['Article', 'Price']
    thewriter.writerow(header)
    
    while True:
        url = base_url + url_seperator + str(page_num)
        page = requests.get(url)
        soup = BeautifulSoup(page.content, 'html.parser')
        results = soup.find_all('div', class_='grid-product__content')
    
        if not results:
            # No more pages to scrape, break out of the loop
            break

        for result in results:
            title = result.find('div', class_='grid-product__title').text.replace('\n', '')
            price = result.find('div', class_='grid-product__price').text.replace('\n', '')
            articleinfo = [title, price]
            thewriter.writerow(articleinfo)
           
        page_num = 1

In [9]:
article_ongle = pd.read_csv('articles.csv')
article_ongle

                  Article    Price
0        KIT Fashion Show   €34,99
1            SP517 Runway    €7,99
2         SP518 Front Row    €7,99
3         SP519 Top Model    €7,99
4           SP520 Catwalk    €7,99
...                   ...      ...
6967  Woodstock - Sticker    €3,99
6968     Lampe Master Lux  €129,99
6969   SP500 Supernatural   €12,99
6970         SP501 Enigma   €12,99
6971    SP502 Incantation   €12,99

[6972 rows x 2 columns]